version: '3.8'

services:
  app:
    container_name: wiseowl-backend
    build: .
    ports:
      - "8081:8081"
    env_file:
      - .env
    restart: always  # Rất quan trọng khi deploy VPS: Tự bật lại nếu bị crash hoặc restart máy